@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Averia+Sans+Libre:wght@300&family=Averia+Serif+Libre:wght@300&family=Pattaya&display=swap');
*{
  box-sizing: border-box;
 margin:0;
 padding: 0;
}

body{
  overflow-x: hidden;
  background-color: #395144;
}

html{
  overflow-x: hidden;
}

.j {
  background: url("../public/jumbotron/hero.jpg") no-repeat right, linear-gradient(#eb01a5, #d13531);
  background-position: 0px -95vh;
  background-size: cover;
}

.jt{
  font-family: 'Averia Serif Libre'
}

.bn{
  background-image: url('../public/benefits/benefits-shape.svg');
  font-family: 'Averia Serif Libre';
  text-shadow: 1px 0px 1px gray;

}

.faq{
  background-image: url('../public/faq/faq.svg');
  background-size:cover;
  background-position:center;
}

.prodimg{
  object-fit: fill;
  position: relative !important;
  height:  100% !important;
  width: 100% !important;
}


